<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kevin.mapper.PostMapper">
  <resultMap id="resultMap" type="org.kevin.model.Post">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <collection property="tags" ofType="org.kevin.model.Tags">
      <id column="tags_id" property="id" />
      <result column="tags_name" property="name"/>
    </collection>
  </resultMap>

</mapper>